.grid-container {
	display: grid;
  	grid-template-columns: auto auto auto;
  	grid-template-rows: auto 15px;
	/* border: 1px solid $black; */
}

.welcome--grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}

.product--grid {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: auto auto;
  margin: 0 10px 15px 10px;
  border: 1px solid $grey;
}

.about--body {
  background-color: $lightBlue;
  padding: 15px 0;
}

.about--img {
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  }
}

.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 800px) {
/* Styles */

.product-grid--container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-columns: auto auto auto;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  margin-bottom: 15px;
}

.about--grid {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}

.product--grid {
  margin: 0 0 0 10px;
}

.welcome--grid {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}

}