@import 'stylesheets/modules/_normalise';
@import 'stylesheets/modules/_colours';
@import 'stylesheets/modules/_layout';
@import 'stylesheets/modules/_typography';
@import 'stylesheets/modules/_form';
@import 'stylesheets/modules/_navigation';

/*
$black
$pink
$blue
$lightBlue
$yellow
$peach
$white
*/

/* Screen reader only text */
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* header style */
.logo {
  grid-column: 1/4;
  justify-content: center;
}

.responsive {
  max-width: 595px;
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__line-break {
  grid-column: 1/4;
  background-image: url('./img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Welcome message style */

.welcome--grid {
  
  .welcome--heading {
    padding-top: 20px;
  }

  .welcome--para {
    background-color: $yellow;
    padding: 30px;
  }

  .welcome--img {
    width: 100%;
  }
}

/* products style */

.product--img {
  overflow: hidden;
  grid-column: 1/4;
  height: 280px;

  img {
    height: auto;
    min-height: 100%;
    width: 100%;
  }
}

  .product--img.pink {
    border-bottom: 10px solid $pink;
}

  .product--img.blue {
    border-bottom: 10px solid $blue;
  }


.product--info {
    padding: 20px;
    grid-column: 1/3;
  }

.product--cost {
  color: $pink;
}

/* footer style */
footer {
  padding: 25px;
  background-image: url('./img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
    .footer--grid {
      display: grid;
      grid-template-columns: auto;
      padding: 25px;
      background-color: $white;
      opacity: 0.8;
      border-radius: 0.2em;
    }

    address {
    font-style: normal;
  }

    .footer-content {
      grid-column: 1/4;
    }

    .footer--privacy {
      grid-column: 1/4;
    }

    a {
      color: $black;
    }

    ul {
      padding: 0;
    }

    li {
      list-style-type: none;
      line-height: 1.6;
    }
}