@import 'stylesheets/modules/_normalise.scss';
@import 'stylesheets/modules/_colours.scss';
@import 'stylesheets/modules/_layout.scss';

/*
$black
$pink
$blue
$light-blue
$yellow
$peach
$white
*/

/* header style */
.logo {
  grid-column: 1/4;
  justify-content: center;
}

.responsive {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__line-break {
  grid-column: 1/4;
  background-image: url('./img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer style */
footer {
  padding: 25px;
  background-image: url('./img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
    .content {
      padding: 25px;
      background-color: $white;
      opacity: 0.8;
      border-radius: 0.2em;
    }

    a {
      color: $black;
    }

    ul {
      padding: 0;
    }

    li {
      list-style-type: none;
      line-height: 1.6;
    }
}